
<div class="row">
	<div class="col-md-12">
		<div class="col-md-5">
			<form action="/user/update/<%=user.id%>" method="post" accept-charset="utf-8">
				<div class="form-group">
					<input class="input-sm form-control" name="name" value="<%=user.name%>">
				</div>
				<div class="form-group">
					<input class="input-sm form-control" name="title" value="<%=user.title%>" >
				</div>
				<%if(session.authenticated && session.User.admin){%>
					<div class="form-group">
					<%if(user.admin){%>
						<input type="hidden" name="admin" value="unchecked">
						<label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
					<%} else {%>
						<input type="hidden" name="admin" value="unchecked">
						<label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
					<%}  %>
					</div>
				<%}%>
				<div class="form-group">
					<input class="input-sm form-control" name="email" value="<%= user.email%>">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-md btn-danger pull-right">Update</button>
					<input type="hidden" name="_csrf" value="<%=_csrf%>">
				</div>
			</form>
		</div>
	</div>
</div>